<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GitPub</title>
    <style>
        body {
            background-color: lightgray;
            color: black;
        }

        h1 {
            margin-bottom: 20px;
            text-align: center;
            font-size: 36px;
            color: #007bff;
        }

        ul {
            margin-bottom: 20px;
            text-align: center;
            font-size: 36px;
            color: #007bff;
            list-style-type: none;
        }
    </style>
</head>

<body>
    <h1>Welcome to GitPub</h1>
    <ul>
        <% for (let i=0; i < drinks.length; i++) { %>
            <li>
                <a href="/drinks/<%= i %>">
                    <%= drinks[i].name %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>